* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cube {
    background-color: blue;
    width: 200px;
    height: 200px;
    border-radius: 10px;
}